<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /boskone/2024/cc/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /boskone/2024/cc/index.html [L]
</IfModule>